*{
    font-family: Poppins;
}

.nav{
    background-image: linear-gradient(to right, rgb(172, 172, 172) , white);
}

.nav-link{
    color:rgb(80, 80, 80);
}

.description-head{
    font-size: xx-large;
    text-align: center;
    color: rgb(80, 80, 80);
    text-decoration: underline;
    font-family: Poppins;
}

.about-me-img{
    border-radius: 10px;
}

.about-me{
    background-color: #C0C0C0;
}

.description-body{
    font-size: large;
    text-align:center;
    color: rgb(80, 80, 80);
    font-family: Poppins;
}

.description-end{
    font-size: x-large;
    text-align: center;
    color: rgb(60, 60, 60);
    font-family: Poppins;
}

.my-intro{
    font-family: Poppins;
    font-weight: bolder;
}

.intro-title{
    font-weight: bolder;
    font-family: Poppins;
    font-size:large;
}

.intro-info{
    font-family: Poppins;
    font-size:large;
    color: rgb(80, 80, 80);
    font-weight: bold;
}

.skill-img{
    height:80px;
    width: 80px;
    margin-left: 20%;
    margin-top: 25px;
}

.skill-img:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.skill-img2{
    height:80px;
    width: 60px;
    margin-left: 21%;
    margin-top: 25px;
}

.skill-img2:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.certificate-img{
    height:120px;
    width:220px;
    padding-left: 50px;
    padding-top: 10px;
}

.card{
    background-image: linear-gradient(to right, rgb(191, 191, 191) , rgb(110, 110, 110));
    margin: 20px 60px 20px 50px;
    border:none;
}

.card-subtitle{
    text-align: center;    
}

.card-title{
    font-weight: bolder;
    text-align: center;
}

ul{
    list-style: none;
}

li{
    display:ruby-base-container;
}

.project-btn-code{
    background-color: rgb(41, 114, 170);
}

.project-btn-project{
    background-color: teal;
}

.project-btn-code:after, .project-btn-project:after{
    right: -20px;
    transition: 0.5s;
}

.project-btn-code:hover{
    padding-right: 25px;
    background-color: rgb(25, 70, 105);
}

.project-btn-project:hover{
    padding-right: 25px;
    background-color:  rgb(3, 87, 87);
}

.project-btn-code:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.project-btn-project :active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


#dropdownMenuButton1, .dropdown-menu{
    width:100%;
}

.dropdown-item{
    text-align: center;
}

.contact{
    background-color: rgb(172, 172, 172);
}

.contact-img{
    height:50px;
    margin: 20px 20px 20px 20px;
}

.footer-copyright{
    font-family: Poppins;
}