*{
    font-family: Poppins;
}

.nav{
    background-image: linear-gradient(to right, rgb(172, 172, 172) , white);
}

.nav-link{
    color:rgb(80, 80, 80);
}

.description-head{
    font-size: xx-large;
    text-align: center;
    color: rgb(80, 80, 80);
    text-decoration: underline;
    font-family: Poppins;
}

.about-me-img{
    border-radius: 10px;
}

.about-me{
    background-color: #C0C0C0;
}

.description-body{
    font-size: large;
    text-align:center;
    color: rgb(80, 80, 80);
    font-family: Poppins;
}

.description-head{
    font-size: x-large;
    text-align: center;
    color: rgb(60, 60, 60);
    font-family: Poppins;
}

.my-intro{
    font-family: Poppins;
    font-weight: bolder;
}

.intro-title{
    font-weight: bolder;
    font-family: Poppins;
    font-size:large;
}

.intro-info{
    font-family: Poppins;
    font-size:large;
    color: rgb(80, 80, 80);
    font-weight: bold;
}

.skill-img{
    height:80px;
    width: 80px;
    margin-left: 20%;
    margin-top: 25px;
}

.skill-img:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.skill-img2{
    height:80px;
    width: 60px;
    margin-left: 21%;
    margin-top: 25px;
}

.skill-img2:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.certificate-img{
    height:120px;
    width:220px;
    padding-left: 50px;
}

.card{
    background-color: #47424238;
}

.card-col{
    
}

li{
    display: inline; 
}

.project-btn-code{
    background-color: rgb(41, 114, 170);
}

.project-btn-project{
    background-color: rgb(55, 55, 55);
}

#dropdownMenuButton1, .dropdown-menu{
    width:100%;
}

.dropdown-item{
    text-align: center;
}

footer{
    background-color: #6c757d;
}

.contact-img{
    height:50px;
}

.contact-info{
    text-decoration: none;
    color: rgb(33, 37, 41);
    font-size: larger;
    font-family: Poppins;
}

.contact-info-phoneno{
    font-size:larger;
    font-family: Poppins;
}

.footer-copyright{
    font-family: Poppins;
}